/*
CIS 131 Group Weather API Assignment
Rose Haney, Chris Gillispie
*/
body{
    background-color: #c9ddff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#wrapper{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 20%;
}
